/* ================= FONTES ================= */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@300;900&family=Roboto+Condensed:wght@100..900&family=Zalando+Sans+Expanded:wght@200..900&display=swap');

/* ================= RESET BÁSICO ================= */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ================= INDEX PAGE ================= */

.index-page {
    min-height: 100vh;
    position: relative;
    background: radial-gradient(circle at top, rgb(146, 2, 144), #0b0015 60%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

/* texto */
.index-page h1 {
    font-family: "Zalando Sans Expanded", sans-serif;
    font-weight: 700;
}

.index-page a {
    color: white;
    text-decoration: none;
    font-family: "Zalando Sans Expanded", sans-serif;
    font-weight: 200;
}

/* inputs */
.index-page input {
    border-radius: 5px;
    border: none;
    padding: 6px;
}

.index-page input::placeholder {
    font-family: "Zalando Sans Expanded", sans-serif;
    font-weight: 600;
}

/* botão */
.index-page button {
    background: linear-gradient(to right, rgb(75, 58, 94), #522152 60%);
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    font-family: "Zalando Sans Expanded", sans-serif;
    font-weight: 700;
}

/* ================= INDEX BOX ================= */

.index-box {
    width: 320px;
    height: 320px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 0 25px rgba(255, 0, 255, 0.4);
}

.index-box form {
    text-align: center;
    line-height: 3rem;
}

/* ================= animação ================= */

.index-box {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.index-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(160, 32, 240, 0.3);
}

/* ================= CADASTRO PAGE ================= */

.cadastro-page {
    min-height: 100vh;
    background: radial-gradient(circle at top, rgb(146, 2, 144), #0b0015 60%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: "Zalando Sans Expanded", sans-serif;
    font-weight: 700;
}

/* cadastro box */
.cadastro-box {
    width: 500px;
    height: 500px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 0 25px rgba(255, 0, 255, 0.4);
    line-height: 2rem;
}

/* inputs cadastro */
.cadastro-page input {
    border-radius: 5px;
    border: none;
    padding: 6px;
}

.cadastro-page input::placeholder {
    font-family: "Zalando Sans Expanded", sans-serif;
    font-weight: 600;
}

/* layout nome */
.linha-nome {
    display: flex;
    gap: 15px;
}

.campo {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* botão cadastro */
.cadastro-page button {
    background: linear-gradient(to right, rgb(75, 58, 94), #522152 60%);
    width: 200px;
    height: 30px;
    color: white;
    border-radius: 10px;
    border: none;
    display: block;
    margin: 20px auto;
    font-family: "Zalando Sans Expanded", sans-serif;
    font-weight: 600;
}

/* ================= animação ================= */

.cadastro-box {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cadastro-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(160, 32, 240, 0.3);
}